*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 400px;
    background-color: #1d75de;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

#logo{
    width: 110px;
    padding: 20px;
    margin-left: 350px;
    cursor: pointer;

}


header{
    
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.mobile-menu div{
    width: 20px;
    background: white;
    height: 3px;
    margin: 3.5px;
    border-radius: 10px;
    transition: 0.3s;
}

.mobile-menu{
    cursor:pointer;
    display: none;
}


ul{
    color: white;
    list-style: none;
    display: flex;
    margin-right: 300px;
}

ul li{
    display: flex;
    font-size: small;
    margin-right: 30px;
    cursor:pointer;
}




ul li:hover{
    color: #169b45;
    
}

#anuncio{
    color: white;
    margin: 70px;
    font-size: large;
    margin-left: 390px;
}

#btn1{
    margin:10px;
    margin-right: 1px;
    width: 140px;
    height: 50px;
    padding: 5px;
    border-radius: 50px;
    border-style: none;
    background-color: #191414;
    color: white;
    font-size: small;
}

#btn1:hover{
    background-color: black;
    letter-spacing: 1px;
}

#btn2{
    margin:10px;
    margin-left: 1px;
    width: 140px;
    height:50px;
    padding: 5px;
    border-radius: 50px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: small;
    border-style: double;
}

#btn2:hover{
    background-color: #175db1;
    letter-spacing: 1px;
}

.warning{

    font-size: x-small;
    color: white;
    margin: 50px;
    margin-left: 10px;
    
}

a{
    color: white;
}

section{
    padding: 50px;
    box-sizing:border-box;
    justify-content:space-evenly;
    display:flex;
    flex-direction:row;
}

.titulo{
    box-sizing: border-box;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imgs{
    width: 130px;
    height: 130px;
    background-color: #eeeeee;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.img{
    margin: 10px -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

p{
    margin-top: 1px;
    font-size: medium;
}

footer{
    height: 450px;
    background-color: black;
    color: white;
}

#logope{
    width: 100px;
    margin-left: 370px;
    margin-top: 100px;
}



.rodape{
    margin-left: 400px;
    margin-right: 400px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.a,.b,.c{
    color: gray;
    font-size: small;
}

.fim{
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

.fim:hover{
    color: #169b45;
}

@media screen and (max-width: 999px){




    body{
        overflow-x: hidden;
    }

    main{
        height: 90%;
    }

    #logo{
        width: 80px;
        margin-left: 2px;
    }



    .links {
        position: absolute;
    }


    header{
        height: 45px;
    }
    
    #anuncio{
        width: 100%;
        margin-left: 15px;
        margin-top: 50px;
       
    }

    h1{
        font-size: 25px;
        letter-spacing: 1px;
    }

    h3{
        font-size: medium;
        margin-top: 10%;
        
    }

    .warning{
        padding-bottom: 15px;
    }

    #buttons{
        display: flex;
        flex-direction: column;
    }

    #btn1{
        margin-left: 1%;
        margin-bottom: 1px;
        margin-top: 20px;
    }

    #btn1, #btn2{
        width: 90%;
        height: 45px;
    }

    .titulo{
        margin-top: -50px;
    }

    section{
        display: flex;
        flex-direction: column;
        margin-top: -45px;
    }

    .img{
        display: flex;
        flex-direction: row;
        justify-content:left ;
        padding-bottom: 40px;
    }

    .imgs{
        margin-right: 1px;
        width: 100px;
        height: 100px;
        margin-left: 270px;
        
    }

    .txt{
        align-items: flex-start;
        padding-left: 20px;
        line-height: 20%;
    }

    footer{
        height: 720px;
    }

    #logope{
        margin-left: 15px;
        margin-top: 30px;
        }

    .rodape{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .texto{
        line-height: 100%;
        margin-left: -300px;
        padding: 20px;
    }

    .mobile-menu{
        display: block;
        margin-left: 60%;
    }

    .mobile-menu.active .line1{
        transform: rotate(-50deg) translate(-5px, 3px);
        border-radius: 0%;
    }
    .mobile-menu.active .line2{
        opacity: 0;

    }
    .mobile-menu.active .line3{
        transform: rotate(50deg) translate(-5px, -4px);
        border-radius: 0%;
    }

    nav ul{
        position: fixed;
        top: 20px;
        left: -100%;
        background-color: black;
        height: 100vh;
        width: 50vh;
        display: block;
        transition: all 0.4s ease-out;
    }
    nav ul.open{
        left: 0;
    }

    nav ul li{
        width: 100%;
        margin: 50px 0;
        right: 0;
        font-size: 30px;
        margin-top: 30px;
        letter-spacing: 2px;
    }

    .signin-up{
        font-size: 18px;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0);
        }
    }






}